* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #1f2937;
    padding: 20px 180px 100px 180px;
    margin-bottom: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.left {
    flex-shrink: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.secction1 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.secction1 .box1 {
    width: 500px;
    margin-right: auto;
}

.secction1 .box1 .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 4px;
}

.secction1 .box1 .text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.secction1 .box1 button {
    color: #f9faf8;
    font-weight: 700;
    font-size: 16px;
    background-color: #3882f6;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.secction1 .box2 {
    width: 400px;
}

.secction1 .box2 img {
    width: 100%;
}

.secction2 {
    padding: 0 150px 120px 150px; 
    color: #1f2937;
    text-align: center;
}

.secction2 .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.secction2 .box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.secction2 .container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secction2 .model {

    width: 200px;
    margin-bottom: 10px;
}

.secction2 img {
    border: 4px solid #3882f6;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.secction2 .info {
    font-size: 18px;
}

.secction3 {
    background-color: #e5e7eb;
    padding: 100px 10px;
    display: flex;
    justify-content: center;
    padding: 80px 10px;
}

.secction3 .container {
    width: 900px;
}

.secction3 .quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.secction3 .author {
    color: #1f2937;
    font-size: 24px;
    text-align: right;
    font-weight: 900;
}

.secction4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
}

.secction4 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #3882f6;
    width: 700px;
    border-radius: 10px;
    padding: 45px 140px;
    flex-wrap: wrap;
}

.secction4 .title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 26px;
}

.secction4 .text {
    color: #e5e7eb;
}

.secction4 .box2 {
    flex-shrink: 0;
}

.secction4 button {
    color: #f9faf8;
    font-weight: 700;
    font-size: 16px;
    background-color: #3882f6;
    border: 2px solid white;
    padding: 8px 30px;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}